h1 {
  position: relative;
  text-align: center;
  font-size:36px;
  font-weight:bold;
  color: black;
  width: 100%;
}
body{
  font-family: Lato;
}
h3{
  text-align: center;
  color: #2BCBB3;
  font-size: 24px;
}

.current_exercise{
  font-size: 64px;
  font-family: Lato;
  font-weight: normal;
  margin: 0;
}

.up_next{
  font-weight: normal;
  font-size: 48px;
}
.begin{
  font-weight: normal;
  font-size: 48px;
  text-align: center;
  margin-top: 0;
}

.huge_time{
  font-size: 110px;
  font-family: Lato;
  text-align: center;
  margin: 0;
}

/* BUTTONS + ICONS */
div.play_button  {
  color: green;
  position: relative;
  text-align: center;
}
.play_button a {
  font-size: 144px;
  color: #00A472;
  position: relative;
  text-align: center;
}

.fa-play-circle{
  text-align: center;
  width: 50%;
}
.fa-play{
  text-align: center;
  width: 50%;
}
div.next_button{
  float: right;
  margin-top: 10px;
}
.next_button a{
  font-size: 48px;
  color: #00A472;
}
div.back_button{
  transform: rotate(180deg);
  float:left;
  margin-top: 10px;
}
.back_button a{
  font-size: 48px;
  color: #00A472;
}

div.edit_icon{
  text-align: center;
}
.fa-edit{
  font-size: 30px;
  color: #828282;
}

div.clock{
  text-align: center;
}
.fa-clock{
  font-size: 36px;
  color: #828282;
}

/* BOXES */
.container {
    display: block;
    position: relative;
    padding-left: 50px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 22px;
    font-family: Lato;

    background-color: #C4C4C4;
    color: #00A472;
}
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #828282;
    border-color: #00A472;
}

/* STARS */
.star {
    visibility:hidden;
    font-size:40px;
    cursor:pointer;
    /*top: 0;*/
    /*left: 50%;*/
    text-align: center;
    height: 35px;
    width: 35px;
    background-color: #eee;
    color: #F2C94C
}
.star:before {
   content: "\2605";
   position: relative;
   visibility:visible;
   border-color: #00A472;
}
.star:checked:before {
   content: "\2606";
}
.starcontainer {
    display: block;
    position: relative;
    /*padding-left: 100px;*/
    /*margin-bottom: 12px;*/
    cursor: pointer;
    font-size: 22px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: Lato;
}

/* GRID LAYOUT */
.column {
    float: left;
    width: 33.33%;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.caption{
  text-align: center;
}
