.app{
  font-family: Lato;
  color: black;
  font-weight: normal;
}

h1 {
  font-size:36px;
}

#workout{
  position: absolute;
  left: 0%;
  right: 0%;
  text-align: center;
}

#goal{
  position: absolute;
  top: 45%;
  left: 0%;
  right: 0%;
  text-align: center;
}
img{
  width: 70px;
  height: 70px;
}
.core{
  width: 60px;
  height: 60px;

}
.text{
  color: #00A472;
}
#img1{
  position: absolute;
  left: 10%;
  top: 12%;
}
#text1{
  position: absolute;
  left: 10%;
  text-align: center;
  top: 20%;
}
#img2{
  position: absolute;
  left: 43%;
  top: 12%;
}
#text2{
  position: absolute;
  left: 43%;
  top: 20%;
}
#img3{
  position: absolute;
  right: 10%;
  top: 12%;
}

#text3{
  position: absolute;
  right: 10%;
  top: 20%;
}

#img4{
  position: absolute;
  left: 10%;
  top: 28%;
}

#text4{
  position: absolute;
  left: 10%;
  top: 36%;
}

#img5{
  position: absolute;
  left: 43%;
  top: 28%;
}

#text5{
  position: absolute;
  left: 45%;
  top: 36%;
}

#img6{
  position: absolute;
  right: 10%;
  top: 28%;
}

#text6{
  position: absolute;
  right:10%;
  top: 36%;
}

.workoutlist{
  text-align: center
}

#wrktxt{
  position: absolute;
  top: 55%;
  left: 25.87%;
  right: 5%;
}
#wrknum{
  position: absolute;
  top: 50%;
  left:10%;
}

#goaltxt{
  position: absolute;
  top: 65%;
  left: 25.87%;
  right: 5%;
}
#goalnum{
  position: absolute;
  top: 60%;
  left:10%;
}

#timetxt{
  position: absolute;
  top: 77.5%;
  left: 25.87%;
  right: 5%;
}
#timenum{
  position: absolute;
  top: 76%;
  left: 8%;
  font-size: 30px;
}

.numbers{
  color: #00A472;
  font-size: 50px;
  font-weight: bold;
}
#minutes{
  position: absolute;
  left: 5%;
  font-size: 20px;
  bottom: 10%;
  color: #00A472;
}

.weeklytext{
  font-size:24px;
}
.icon-bar{
    width: 100%; /* Full-width */
    background-color: #F2F2F2; /* Dark-grey background */
    bottom: 0;
    left: 0;
    position: fixed;
}

.icon-bar a {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
    padding: 12px 0; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: #C4C4C4; /* White text color */
    font-size: 36px; /* Increased font size */
}

a.active {
    color: #2BCBB3; /* Add an active/current color */
}
